.OurServices:hover span img {
    transform: rotateX(180deg) rotateZ(180deg);
}

.OurServices {
    width: 24%;
    float: left;
    margin: 10px .5% 0 .5%;
    border: 1px solid #f1f1f1;
    padding: 10px;
    height: 280px;
    border-radius: 6px;
    position: relative;

    span {
        perspective: 3000px;
        transform-style: preserve-3d;

        img {
            border-radius: 50%;
            transition: transform 1s;
            transform: rotateX(198deg) rotateZ(292deg);
        }
    }

    h3 {
        color: #045e86;
        text-transform: capitalize;
        font-family: 'Mukta', sans-serif;
        font-weight: 500;
    }

    p {
        color: #555;
        text-align: justify;
    }
}

.PriceAndOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PriceAndOrder>.Price {
    float: left;
}

.PriceAndOrder>.Buy {
    float: right;
}


button {
    background: #045e86;
    outline: none;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    transform: rotateX(0deg) rotateY(0deg);
}

.OurServices:hover button {
    transition: transform 1s;
    transform: rotateX(360deg) rotateZ(0deg);
}


@media (max-width: 1240px) {
    .OurServices {
        height: 300px;
    }
}

@media (max-width: 950px) {
    .OurServices {
        width: 32%;
    }
}

@media (max-width: 950px) {
    .OurServices {
        height: 310px;
    }

    .OurServices h3 {
        line-height: 20px;
        margin: 10px 0;
    }
}

@media (max-width: 695px) {
    .OurServices {
        width: 49%;
        height: 290px;
    }
}

@media (max-width: 610px) {
    .OurServices {
        height: 310px;
    }
}

@media (max-width: 500px) {
    .OurServices {
        width: 99%;
        height: 280px;
    }
}