.ChooseReasons {
    width: 24%;
    float: left;
    margin: 10px .5% 10px .5%;
    border: 1px solid #f1f1f1;
    padding: 10px;
    height: 190px;
    border-radius: 6px;
}
.ChooseReasons span {
    font-size: 25px;
    color: #045e86;
}
.ChooseReasons h3 {
    color: #045e86;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}
.ChooseReasons p {
    color: #555;
    text-align: justify;
}


@media (max-width: 1230px) {
    .ChooseReasons {
        height: 210px;
    }
}
@media (max-width: 1125px) {
    .ChooseReasons {
        height: 230px;
    }
    .ChooseReasons h3 {
        line-height: 20px;
        margin: 10px 0;
    }
}
@media (max-width: 1085px) {
    .ChooseReasons {
        width: 32%;
        height: 200px;
    }
}
@media (max-width: 900px) {
    .ChooseReasons {
        width: 49%;
        height: 200px;
    }
}
@media (max-width: 570px) {
    .ChooseReasons {
        width: 99%;
        height: 200px;
    }
}