@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}

body {
    font-family: 'Lato', sans-serif;
}

.Box {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}



// Home Page style
.HeroBackground {
    background: linear-gradient(to right, #023467, #024771, #056D94, #048AA7);
    height: 400px;
}

.HeroText {
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    float: left;
    width: 60%;
    padding: 25px 0 10px 0;
}

.HeroText>h1,
h3 {
    font-weight: 800;
    color: #fff;
    line-height: 35px;
}

.HeroText>h1 {
    font-size: 50px;
}

.HeroText>h3 {
    font-size: 30px;
}

.BigOffer {
    margin: 20px 0 10px 0;
}

.BigOffer>h1 {
    color: #f9d34a;
    text-transform: capitalize;
    margin: 10px 0;
}

.BigOffer>h1>span {
    color: #ebfbff;
    font-size: 20px;
}


.Feature {
    margin: 15px 0 10px 0;
}

.Feature ul {
    list-style: none;
}

.Feature ul li {
    color: #fff;
    text-transform: capitalize;
}

.Feature ul li span {
    color: #f9d34a;
    margin-right: 8px;
}


.RequestAnApp {
    margin: 15px 0 10px 0;
}

.RequestAnApp a {
    background: #E4424D;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 6px;
}



.HeroImage {
    float: left;
    width: 40%;
    padding: 35px 0 10px 0;
}

.HeroImage img {
    width: 80%;
    height: auto;
}



@media (max-width: 1265px) {
    .HeroImage {
        padding: 60px 0 10px 0;
    }

    .HeroImage img {
        width: 100%;
    }
}

@media (max-width: 985px) {
    .HeroImage {
        padding: 60px 0 10px 0;
        margin-top: 30px;
    }
}

@media (max-width: 955px) {
    .HeroBackground {
        height: 360px;
    }

    .HeroText {
        width: 55%;
        overflow: hidden;
    }

    .HeroImage {
        width: 45%;
        padding: 40px 0 10px 0;
        margin-top: 20px;
    }

    .HeroImage img {
        width: 90%;
    }

    .HeroText>h1,
    h3 {
        line-height: 25px;
    }

    .HeroText>h1 {
        font-size: 35px;
    }

    .HeroText>h3 {
        font-size: 20px;
    }
}

@media (max-width: 745px) {
    .HeroBackground {
        height: 360px;
    }

    .HeroText {
        width: 55%;
        overflow: hidden;
    }

    .HeroImage {
        width: 45%;
        overflow: hidden;
    }

    .BigOffer>h1 {
        font-size: 20px;
    }

    .BigOffer>h1>span {
        color: #ebfbff;
        font-size: 15px;
    }
}

@media (max-width: 730px) {
    .HeroBackground {
        height: 340px;
    }

    .HeroText>h1,
    h3 {
        line-height: 20px;
    }

    .HeroText>h1 {
        font-size: 30px;
    }

    .HeroText>h3 {
        font-size: 18px;
    }
}

@media (max-width: 630px) {
    .HeroBackground {
        height: 660px;
    }

    .HeroText {
        width: 100%;
        overflow: hidden;
    }

    .HeroImage {
        width: 100%;
        padding: 10px 0 10px 0;
        margin-top: 10px;
        text-align: center;
    }

    .HeroImage img {
        width: 70%;
    }
}

@media (max-width: 630px) {
    .HeroBackground {
        height: 610px;
    }

    .HeroImage img {
        width: 80%;
    }
}


// WhyChooseUs Section
.WhyChooseUs,
.Services,
.Reviews,
.Blog {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
}

.WhyChooseUs h2,
.Services h2,
.Reviews h2,
.Blog h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    color: #464646;
    overflow: hidden;
    margin: 10px 0;
}





.WhyChooseUs h2::after {
    content: "WHY US";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.04);
}

.Services h2::after {
    content: "OUR SERVICES";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.04);
}

.Reviews h2::after {
    content: "BEST REVIEWS";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.04);
}

.Blog h2::after {
    content: "LATEST BLOG";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.04);
}






// Responsive css
@media (max-width: 665px) {
    .WhyChooseUs h2::after {
        transform: translate(-50%, -87%);
        font-size: 32px;
    }

    .Services h2::after {
        transform: translate(-50%, -87%);
        font-size: 32px;
    }

    .Reviews h2::after {
        transform: translate(-50%, -87%);
        font-size: 32px;
    }

    .Blog h2::after {
        transform: translate(-50%, -87%);
        font-size: 32px;
    }
}





// Page Not Found
.NotFound {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.NotFound h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    color: #023467;
    margin-top: 10px;
}

.NotFound p {
    color: #333;
    margin-bottom: 10px;
}




// CSS Loader
.loadingCss {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.loadingCss:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 25px solid #5a49f1;
    border-color: #5a49f1 transparent #5a49f1 transparent;
    animation: loadingCss 1.2s infinite;
}

@keyframes loadingCss {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}



.text-cn {
    text-align: center;
    margin: 20px 0 0 0;
}